.pixel {
    background-color: rgba(255,255,255,1);
    /* width: .70vw; */
    /* height: .70vw; */
    /* height: 6px; */
    /* width: 6px; */
} 

.outlined {
    outline: 1px solid lightgray;
    outline-offset: -1px;
}

.row {
    display:flex;
}


body {
    display: flex;
    /* flex-direction: column; */
    font: 400 11px system-ui;
    margin: 0px;
}

#sideBar {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0; 
}

#myCanvas {
    margin: 0;
    border: 1px solid black;
}

#headerText {
    padding: 5px 15px 5px 15px;
    display: block;
    font-size: 30px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 3px 3px 10px rgb(70,70,70);
    margin-bottom: .5vw;
    text-align: center;
}

#paintArea {
    border: 1vw solid;
    border-image: radial-gradient(black 10%, white) 20;
    box-shadow: 3px 3px 10px rgb(45, 91, 122);
    margin-right: .5vw;
}

#main {
    display:flex;
    align-items: flex-start;
    padding: .5vw;
    /* margin: auto; */
    background: linear-gradient(gray, lightskyblue, gray);
    /* border-radius: 20px; */
    border: 1px solid black;
}

#paletteDiv {
    display: flex;
    flex-direction: column;
    width: 16.8vw;
    padding: .3vw;
    border: .3vw solid black;
    box-shadow: 3px 3px 10px rgb(45, 91, 122), 3px 3px 10px rgb(45, 91, 122) inset;
}

.eraser {
    width: 3.5vw;
    height: 3.5vw;
    border: 1px solid black;
    border-radius: 4px;
    margin: .2vw;
    box-shadow: 3px 3px 10px rgb(45, 91, 122);
    padding: 2px;
}

#scaleHolder, #alphaHolder{
    display: flex;
    /* justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important; */
    align-self: flex-start;
    font: 400 11px system-ui;
    /* margin: .5vw; */
}
#scaleSlider, #alphaSlider {
    align-self: flex-start;
    margin: .3vw;
}

#alphaText, #scaleText {
    margin: .3vw;
}

#paletteHolder {
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
}

.colorDiv {
    width: 1.5vw;
    height: 1.5vw;
    border: .1vw solid black;
    border-radius: 4px;
    margin: .2vw;
    box-shadow: 3px 3px 10px rgb(45, 91, 122);
}    

.colorDiv:hover {
    box-shadow: 2px 2px 2px yellow, -2px -2px 2px yellow, 2px -2px 2px yellow, -2px 2px 2px yellow;
}

#toolboxDiv {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#brushHolder {
    display: flex;
    margin: 0;
    padding: 0;
}

#buttonHolder {
    display: flex;
    margin: 0;
    padding: 0;
}
#bgButton {
    background: gray;
    box-shadow: 3px 3px 10px rgb(45, 91, 122);
    margin: .3vw 0 0 0;
    padding: .3vw;
}

#bgButton:hover {
    background: lightgray;
}

.button {
    background: gray;
    box-shadow: 3px 3px 10px rgb(45, 91, 122);
    flex: 1 1 0;
    margin: .5vw 0 0 0;
    padding: .3vw;
    cursor: pointer;
}

input {
    cursor: pointer;
}

.button:hover {
    background: lightgray;
}

#BrushButton1, #unDoButton {
    margin: .5vw .5vw 0 .5vw;
}

.painted {
    outline: none;

}

.selected {
    z-index: 2;
    outline: 2px solid red;
    outline-offset: -1px;
}

.eraseBorder {
    border: .3vw dotted lightgray !important;
}

#fileChooser{
    visibility: hidden;
    /* z-index: -5; */
    height: 2px;
}